.title {
    box-shadow: none;
    background-color: #00509d;
    color: #ffffff;
    font-size: 1.3rem;
    width: 20rem;
    height: 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-card {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    box-shadow: none;
    background-color: #9ad1d4;
    width: 25rem;
    height: 8rem;
}

.p-card .p-card-content {
    padding: 0;
    height: 5rem;
}